@charset "utf-8";
a {
	text-decoration: none;
	color: #000
}
body{ background:rgba(235,235,235,1) url(backgroung-patrren.png) repeat; }
#container{
	width:90vw; margin:50px auto 0px auto;
	-webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
background:white;
	}
.hdr_1{padding:10px;}
@media screen and (max-width:1085px){[alt="banner-top"]{display:none;}}



.menu{background:#151a1f;;position:relative;border-bottom:5px solid #f24d34;}
.menu >li{padding:15px;border-left: 1px solid #2c3742;}
.menu li a{color:#fff;}
.menu>li:nth-child(2){background:#f24d34;}
.menu-two{display:none;background:#151a1f;
  position:absolute;left:.01%;width:90vw;top:47px}
.menu-one:hover .menu-two{display:block;}
.menu>li:nth-child(3):after{content:"\f0d7"; font-family:FontAwesome;color:#fff;margin-left:5px;}

.blw-header{padding:10px;}
.blw-header-2 li{padding:5px;}
.blw-header-2>li:last-child{background:rgba(242, 77, 52,.8);}
.blw-header-2>li:last-child a{color:#fff;}
.blw-header-2> li>input{width:160px;transition:2s;}
.blw-header-2 input:focus{width:170px; outline:1px solid green;	}
.B-news{background:#f24d34; font-size:10px; padding:0px 5px 0px 20px;color:#fff;}